<div>
  <%= form_for(Advertisement.new,
               url: create_advertisement_path,
               html: {multipart: true}, method: :post) do |f| %>
    <div class="input-group">
    <hr class="hrAd">
      <div>
        <%= f.text_area :body, placeholder: 'Type advertisement here', :class=>"myPostAd" %>
        <%= f.file_field :image_url, type:"file"%> 
        <%= f.hidden_field :business_id, value: @current_member.id %>
      </div>
     <hr class="hrAd"> 
     <div class="action">
         <%= f.submit "Advertise", class: 'btn linky' %>
      </div>
    </div>
  <% end %>
</div>
<script>
  $(":file").filestyle({
    input: false
  })
  $("input span label").removeClass("glyphicon glyphicon-folder-open"); 
  $("input span label").text("");
  $("input span label").addClass("glyphicon glyphicon-camera");
  $("input span label").removeClass("btn btn-default");
</script>
