<div class="message">
	<br>
	<% if message.user.id == @current_member.id %>
		<div class="talk-bubble tri-right round btm-left">
		  <div class="talktext">
		    <p class="messageSent"><%= message.body %></p>
		  </div>
		</div>
		<br>
		<%= image_tag(message.user.image_url, :width => 30 ,:height=>"30",class:"img-circle  img-center") if message.user.image_url.present?  %>
	<% else %>
	<div class="col-sm-8"></div>
		<div class="talk-bubble tri-right round btm-right" style="background-color: green">
		  <div class="talktext">
		    <p class="messageSent"><%= message.body %></p>
		  </div>
		</div>
		<br>
		 <div class="col-md-10"></div><%= image_tag(message.user.image_url, :width => 30 ,:height=>"30",class:"img-circle  img-center") if message.user.image_url.present?  %>
	<% end %>	
<br> 
</div>
<script>
 //readonly data-autoresize rows="auto"
 //<textarea  class="messageSent"><%= message.body %></textarea>
	$.each(jQuery('textarea[data-autoresize]'), function() {
    var offset = this.offsetHeight - this.clientHeight;
 
    var resizeTextarea = function(el) {
        $(el).css('height', 'auto').css('height', el.scrollHeight + offset);
    };
    $(this).on('keyup input', function() { resizeTextarea(this); }).removeAttr('data-autoresize');
});
</script>
