<div class="col-md-6">

  <table class="table table-bordered">
    <caption>Perspective Users</caption>

    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Neighborhood</th>
      <th>Address</th>
    </tr>
    <% @temp_users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.hood.name %></td>
        <td><%= user.hood.address %></td>

        <td><%= button_to 'Accept', admin_accept_url(user), method: :post %></td>
        <td><%= button_to 'Deny', admin_deny_url(user), method: :post %></td>
      </tr>
    <% end %>
  </table>
</div>
