<%= form_tag(signups_create_agency_url, multipart: true) do %>
  <div>
    <%= fields_for :temp_agency do |f| %>
      <div class="input-group">
        <div class="field">
          <hr>
          <%= text_field_tag :name, nil, class:"myPost",placeholder:"Agency name"  %>
          <hr>
        </div>
        <div class="field">
          <%= text_field_tag :address_street, nil, class:"myPost",placeholder:"Street name"  %>
          <%= text_field_tag :address_city, nil, class:"myPost",placeholder:"City"  %>
          <%= text_field_tag :address_state, nil, class:"myPost",placeholder:"State"  %>
        </div>
        <div class="field">
          <hr>
          <%= email_field_tag :email, nil, class:"myPost",placeholder:"Email address"  %>
          <hr>
        </div>
        <div class="field">
          <%= label_tag :image_url, "Credentials" %><br>
          <%= file_field_tag :image_url %>
        </div>
      </div>
    <% end %>
  </div>
    <%= submit_tag 'Submit', class: 'btn linky' %>
<% end %>
