<%= form_tag(signups_create_agency_url, multipart: true) do %>
  <div>
    <%= fields_for :temp_agency do |f| %>
      <div class="input-group">
        <div class="field">
          <hr>
          <%= f.text_field :name,class:"myPost",placeholder:"Agency name"  %>
          <hr>
        </div>
        <div class="field">
          <%= f.text_field :address_street,class:"myPost",placeholder:"Street name"  %>
          <%= f.text_field :address_city,class:"myPost",placeholder:"Street name"  %>
          <%= f.text_field :address_state,class:"myPost",placeholder:"Street name"  %>
        </div>
        <div class="field">
          <hr>
          <%= f.email_field :email,class:"myPost",placeholder:"Email address"  %>
          <hr>
        </div>
        <div class="field">
          <%= label_tag :image_url, "Credentials" %><br>
          <%= file_field_tag :image_url %>
        </div>
      </div>
    <% end %>
  </div>
    <%= submit_tag 'Submit', class: 'btn linky' %>
<% end %>
