<%= form_tag(signups_create_business_url, multipart: true) do %>
  <div>
    <%= fields_for :temp_business do |f| %>
      <div class="input-group">
        <div class="field">
          <%= label_tag :name %><br>
          <%= text_field_tag :name %>
        </div>
        <div class="field">
          <%= label_tag :address_street %><br>
          <%= text_field_tag :address_street %>
        </div>
        <div class="field">
          <%= label_tag :address_city %><br>
          <%= text_field_tag :address_city %>
        </div>
        <div class="field">
          <%= label_tag :address_state %><br>
          <%= text_field_tag :address_state %>
        </div>
        <div class="field">
          <%= label_tag :email %><br>
          <%= email_field_tag :email %>
        </div>
        <div class="field">
          <%= label_tag :image_url, "Credentials" %><br>
          <%= file_field_tag :image_url %>
        </div>
      </div>
    <% end %>
  </div>
    <%= submit_tag 'Submit', class: 'btn linky' %>
<% end %>
