  <%= fields_for :temp_neighborhood do |f| %>
    <hr class="hrNR">
    <div class="input-group">
      <div class="field">
        <%= text_area_tag :name, nil, :class=>"myPost",placeholder: 'Neighborhood name'%>
      </div>
      <hr>
      <div class="field">
        <%= text_area_tag 'address_street', nil, :class=>"myPost",placeholder: 'Street Name'%>
      </div>
      <hr>
      <div class="field">
        <%= text_area_tag 'address_city', nil, :class=>"myPost",placeholder: 'City or town'%>
      </div>
      <hr>
      <div class="field">
        <%= text_area_tag 'address_state', nil, :class=>"myPost",placeholder: 'State'%>
      </div>
    </div>
  <% end %>
