<div>
  <h3>Neighborhood</h3>
  <%= fields_for :temp_neighborhood, @temp_neighborhood do |f| %>
    <div class="input-group">
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :address %><br>
        <%= f.text_field :address %>
      </div>
    </div>
  <% end %>
</div>
