<section class="content-section video-section">
  <div class="pattern-overlay">
  <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=4Wee4LASqvE',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
  <br><br> <br><br> <br><br>
    <div class="container">
     <div class="col-md-offset-5">
        <%= fields_for :temp_user, @temp_user do |f| %>
          <div class="input-group">
          <hr>
            <div class="field">
              <%= f.text_area :name,:class=>"myPosts",placeholder: 'Your name'%>
            </div>
          <hr>
            <div class="field">
              <%= f.text_area :email,:class=>"myPosts",placeholder: 'Your email address'%>
            </div>
          <hr>
            <div class="field">
              <%= f.file_field :image_url, type: "file"%> Credentials
            </div>
          <hr>
          <%= f.label 'Signing up as HOA member?' %>
          <%= f.check_box :hoa %>
          </div>
            <%= submit_tag 'Submit', class: 'btn linky' %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<script>
  $(":file").filestyle({
    input: false
  })
  $("span label").removeClass("glyphicon glyphicon-folder-open");
  $("span label").text("");
  $("span label").addClass("glyphicon glyphicon-camera");
  $("span label").removeClass("btn btn-default");
</script>
