  <%= fields_for :temp_user, @temp_user do |f| %>
    <div class="input-group">
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.email_field :email %>
      </div>
      <div class="field">       
        <%= f.file_field :image_url %>
      </div
    </div>
  <% end %>
