<%= render partial: 'neighborhoods/navbar' %>
<br><br><br><br>
<div class="col-md-4">
  <%= render partial: 'create_group' %>

  <%= render partial: 'group_list' %>

  <%= render partial: 'direct_messages/users_list' %>
</div>

<div class="col-md-6">
  <div class= "messages">
    <% @group.messages.each do |message| %>
      <%= render message %>
    <% end %>
  </div>

  <%= render partial: 'create_message' %>
</div>

<div class="col-md-2">
  <div>
    <h3>Current Members</h3>

    <% @group.users.each do |user| %>
      <%= render partial: 'users/tag', locals: { user: user } %>
    <% end %>
  </div>

  <div>
    <h3>Add Members</h3>

    <% not_users(@group).each do |user| %>
      <%= render partial: 'users/tag', locals: { user: user } %>
      <%= button_to "Add", group_add_user_url(@group, user), method: :post %>
    <% end %>
  </div>

  <div>
    <h3>Want to Leave?</h3>
    <%= button_to "Leave", group_remove_user_url(@group) %>
  </div>
</div>
