<div class="logInBox">
  <h3><%= title %></h3>
  <hr>
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <div class="col-sm-2"></div>
  <%= form_tag(url) do %>
    <fieldset class="myLogin">    
      <div>
        <%= label_tag :email, 'Email:',:class=>"labels" %>
        <%= text_field_tag :email, params[:email],:class=>"form-control" %>
      </div>
      <div>
        <%= label_tag :password, 'Password:',:class=>"labels" %>
        <%= password_field_tag :password, params[:password],:class=>"form-control" %>
      </div>
      <div>
        <%= submit_tag "Login", :class=>"btn" %>
      </div>
      <br>
      <%= link_to 'Forgot your password?', password_request_path ,class:"forgotPass"%>
    </fieldset>
  <% end %>
</div>
