
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           <a class="navbar-brand page-scroll" href="<%= root_path %>">FND</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="<%= about_path %>">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="<%= contact_path %>">Contact</a>
                </li>
                <li>
                    <a class="page-scroll" href="<%= doc_path %>">Documentation</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign Up <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#"data-toggle="modal" data-target="#myModal2">Neighborhood</a></li>
                      <li><a href="#"data-toggle="modal" data-target="#myModal">Agency</a></li>
                      <li><a href="#"data-toggle="modal" data-target="#myModal1">Business</a></li>
                    </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to "Log In", login_path%>
              </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<script>
    //jQuery to collapse the navbar on scroll
    $(window).scroll(function() {
        if ($(".navbar").offset().top > 50) {
            $(".navbar-fixed-top").addClass("top-nav-collapse");
        } else {
            $(".navbar-fixed-top").removeClass("top-nav-collapse");
        }
    });

    //jQuery for page scrolling feature - requires jQuery Easing plugin
    $(function() {
        $('a.page-scroll').bind('click', function(event) {
            var $anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top
            }, 1500, 'easeInOutExpo');
            event.preventDefault();
        });
    });
</script>
<!-- /.Modal AGENCY-->
<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Agency Registration</h4>
        </div>
        <div class="modal-body">
            <div class="col-sm-4"></div>
            <%= render 'signups/agency_form'%>
        </div>
        <div class="modal-footer">
        </div>
      </div>      
    </div>
  </div>  
</div>
<!-- /.Modal Busines-->
<div class="container">
    <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Business Registration </h4> 
       </div>
        <div class="modal-body">
            <div class="col-sm-4"></div>
            <%= render 'signups/business_form' %>
        </div>
        <div class="modal-footer">

        </div>
      </div>      
    </div>
  </div>  
</div>
<!-- /.Modal Neighborhoods-->

<div class="container">
    <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Neighborhoods Registration</h4>
        </div>
        <div class="modal-body">
          <%= form_tag(signups_url, multipart: true) do %>
            <div class="col-sm-6">
              <h4>User</h4>
               <%= fields_for :temp_user, @temp_user do |f| %>
                <div class="input-group">
                <hr>
                  <div class="field">
                    <%= f.text_area :name,:class=>"myPost",placeholder: 'Type Name here...'%>
                  </div>
                <hr>
                  <div class="field">
                    <%= f.text_area :email,:class=>"myPost",placeholder: 'Type @email here...'%>
                    <br><br>
                    <%= f.label 'HOA Member?' %>
                    <%= f.check_box :hoa %>
                    <br> <br>
                    <%= f.file_field :image_url, type:"file"%><label>Credentials</label>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-sm-6">
              <h4>Neighborhood</h4>
              <%= render 'signups/neighborhood_form' %> 
            </div>
            <br><br><br><br><br><br><br><br><br><br>
          
        </div>
        <div class="modal-footer">
            <%= submit_tag 'Submit',class:"btn linky" %>
        </div>
        <% end %>
      </div>      
    </div>
  </div>  
</div>
<script>
  $(":file").filestyle({
    input: false
  })
  $("span label").removeClass("glyphicon glyphicon-folder-open"); 
  $("span label").text("");
  $("span label").addClass("glyphicon glyphicon-camera");
  $("span label").removeClass("btn btn-default");
</script>
