
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           <a class="navbar-brand page-scroll" href="<%= root_path %>">FND</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="<%= about_path %>">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="<%= contact_path %>">Contact</a>
                </li>
                <li>
                    <a class="page-scroll" href="<%= doc_path %>">Documentation</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign Up <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#"data-toggle="modal" data-target="#myModal2">Neighborhood</a></li>
                      <li><a href="#"data-toggle="modal" data-target="#myModal">Agency</a></li>
                      <li><a href="#"data-toggle="modal" data-target="#myModal1">Business</a></li>
                    </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to "Log In", login_path%>
              </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<script>
    //jQuery to collapse the navbar on scroll
    $(window).scroll(function() {
        if ($(".navbar").offset().top > 50) {
            $(".navbar-fixed-top").addClass("top-nav-collapse");
        } else {
            $(".navbar-fixed-top").removeClass("top-nav-collapse");
        }
    });

    //jQuery for page scrolling feature - requires jQuery Easing plugin
    $(function() {
        $('a.page-scroll').bind('click', function(event) {
            var $anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top
            }, 1500, 'easeInOutExpo');
            event.preventDefault();
        });
    });
</script>
<!-- /.Modal AGENCY-->
<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Agency Registration</h4>
        </div>
        <div class="modal-body">
            <div class="col-sm-4"></div>
            <%= form_for(@agency) do |f| %>
                <% if @agency.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@agency.errors.count, "error") %> prohibited this agency from being saved:</h2>

                    <ul>
                    <% @agency.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="field">
                  <hr>
                    <%= f.text_field :name,placeholder: 'Type Name here...',class:"myPost" %>
                  <hr>
                </div>
                <div class="actions">
                  <%= f.submit class: 'btn linky' %>
                </div>
              <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>      
    </div>
  </div>  
</div>
<!-- /.Modal Busines-->
<div class="container">
    <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Business Registration</h4>
        </div>
        <div class="modal-body">
            <div class="col-sm-4"></div>
            <%= form_for(@agency) do |f| %>
                <% if @agency.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@agency.errors.count, "error") %> prohibited this agency from being saved:</h2>

                    <ul>
                    <% @agency.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="field">
                  <hr>
                    <%= f.text_field :name,placeholder: 'Type Name here...',class:"myPost" %>
                  <hr>
                </div>
                <div class="actions">
                  <%= f.submit class: 'btn linky' %>
                </div>
              <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>      
    </div>
  </div>  
</div>
<!-- /.Modal Neighborhoods-->
<div class="container">
    <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Neighborhoods Registration</h4>
        </div>
        <div class="modal-body">
            <div class="col-sm-4"></div>
            <%= form_for(@agency) do |f| %>
                <% if @agency.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@agency.errors.count, "error") %> prohibited this agency from being saved:</h2>

                    <ul>
                    <% @agency.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="field">
                  <hr>
                    <%= f.text_field :name,placeholder: 'Type Name here...',class:"myPost" %>
                  <hr>
                </div>
                <div class="actions">
                  <%= f.submit class: 'btn linky' %>
                </div>
              <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>      
    </div>
  </div>  
</div>
