<div class='backDiv'></div>
<div class="background-div">
  <%= image_tag 'houses' %>
</div>

<div class="container v-center box-shadow">
  <div class="tabbable tabs-left">
    <div class="col-sm-2">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#a" data-toggle="tab">
            <span class="glyphicon-user glyphicon"></span>
          </a>
        </li>
        <li>
          <a href="#b" data-toggle="tab">
            <span class="glyphicon-tag glyphicon"></span>
          </a>
        </li>
        <li>
          <a href="#c" data-toggle="tab">
            <span class="glyphicon-flash glyphicon"></span>
          </a>
        </li>
        <li>
          <a href="#d" data-toggle="tab">
            <span class="glyphicon-cog glyphicon"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-6 tab-content">
      <div class="tab-pane active" id="a">
        <%= render partial:'login_form', locals: { title: 'User', url: user_login_path } %>
      </div>
      <div class="tab-pane" id="b">
        <%= render partial:'login_form', locals: { title: 'Business', url: business_login_path } %>
      </div>
      <div class="tab-pane" id="c">
        <%= render partial:'login_form', locals: { title: 'Agency', url: agency_login_path } %>
      </div>
      <div class="tab-pane" id="d">
        <%= render partial:'login_form', locals: { title: 'Admin', url: admin_login_path } %>
      </div>
    </div>
  </div>
</div>
