<%= render partial:'navbar'%>
<br>
<br>
<br>
<br>
<div class="container">
	<h1>Forgot your password?</h1>

	<% if notice %>
	  <div class="alert alert-success" role="alert"><%= notice %></div>
	<% end %>

	<% if alert %>
	  <div class="alert alert-danger" role="alert"><%= alert %></div>
	<% end %>

	<p>If you have forgotten your password, type your email below
	   and a new password will be delivered to your email address
	</p>
	<hr>
	<%= form_tag do %>
	  <%= text_field_tag :email,nil,:class=>"myPost col-xs-12", placeholder: 'Type @email here...'%>
	  
	  <%= submit_tag 'Request new password', class:"btn linky" %>
	<% end %>
	<hr>
</div>	

