<!-- Pato will make this look pretty

This is the opening page. We will need to have a
search bar and a confirm button, which will take the
user to the search.html.erb view. There will also be
a button for logging in, which will take the user to
the login.html.erb view.

-->
<%= render partial:'welcome/navbar'%>
<br>
<br>
<br>
<br>
<div class='backDiv'></div>
<div class="background-div">
  <%= image_tag 'houses' %>
</div>
<div class="container">
  <%= image_tag "1000.png", :class => "myImage" %>
  <%= form_tag(search_path) do %>
    <div class="input-group mySearch">
        <%= text_field_tag 'search', nil,
          placeholder: 'Search for neighborhoods!',
          class: 'form-control', type:"text"
        %>
        <span class="input-group-btn">
        <button class="btn btn-default linky searchy" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </span>
    </div>
  <% end %> 
</div><!-- /.col-lg-6 -->

