<!-- Pato will make this look pretty

This is the opening page. We will need to have a
search bar and a confirm button, which will take the
user to the search.html.erb view. There will also be
a button for logging in, which will take the user to
the login.html.erb view.

-->

<h1>FriendsNextDoor</h1>

<%= button_to 'Login!', login_path, method: :get %>

<br />

<%= form_tag(search_path, method: :get) do %>
  <fieldset>
    <legend>Find your neighborhood!</legend>
    <div>
      <%= label_tag :search_key %>
      <%= text_field_tag :search_key, params[:search_key] %>
    </div>
    <div>
      <%= submit_tag "Search" %>
    </div>
  </fieldset>
<% end %>
