<!-- Pato will make this look pretty

This is the opening page. We will need to have a
search bar and a confirm button, which will take the
user to the search.html.erb view. There will also be
a button for logging in, which will take the user to
the login.html.erb view.

-->

<div class='backDiv'></div>
<div class="background-div">
  <%= image_tag 'houses' %>
</div>
<div class="logIn">
  <strong><%= link_to "LOG IN", login_path, :class =>"linkys" %></strong>
</div>
<div class="container">
  <%= image_tag "1000.png", :class => "myImage" %>
  <div class="input-group  mySearch">
    <input type="text" class="form-control " placeholder="Search for your neighborhood">
    <span class="input-group-btn ">
        <%= link_to "GO!", search_url, :class => "btn btn-default linky" %>
    </span>
  </div><!-- /input-group -->
  <%= link_to 'Create Business', signups_business_url %>
  <%= link_to 'Create Agency', signups_agency_url %>
</div><!-- /.col-lg-6 -->
<div>
</div>
