
<%= render partial:'welcome/navbar'%>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class='backDiv'></div>
<div class="background-div">
  <%= image_tag 'houses' %>
</div>
<div class="container">
  <% if notice %>
         <div class="alert alert-success" role="alert"><%= notice %></div>
  <% end %>
  <% if alert %>
         <div class="alert alert-danger" role="alert"><%= alert %></div>
  <% end %>
  <%= image_tag "1000.png", :class => "myImage" %>

  <%= form_tag(search_path) do %>
    <div class="input-group mySearch">
        <%= text_field_tag 'search', nil,
          placeholder: 'Search for neighborhoods!',
          class: 'form-control', type:"text"
        %>
        <span class="input-group-btn">
        <button class="btn btn-default linky searchy" type="submit"><i class="glyphicon glyphicon-map-marker"></i></button>
        </span>
    </div>
  <% end %>

</div>
