<%= render partial:'neighborhoods/navbar'%>
<br />
<br />
<br />
<br />

<div class="row picture col-sm-offset-3 col-sm-6">
  <%= image_tag(@event.image_url, :width => 120,:height=>120) if @event.image_url.present?  %>
</div>

<div class="col-sm-offset-1 col-sm-6">
	<p>
	  <strong>Name:</strong>
	  <%= @event.name %>
	</p>

	<p>
	  <strong>Body:</strong>
	  <%= @event.body %>
	</p>

	<p>
	  <strong>Neighborhood:</strong>
	  <%= @event.neighborhood.name %>
	</p>

	<p>
	  <strong>Host:</strong>
	  <%= @event.user.name %>
	</p>
</div>

<div id="map" class="col-sm-offset-1 col-sm-6"></div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
