<p id="notice"><%= notice %></p>

<div class="row">
<p>
  <strong>Logged in as:</strong>
  <%= @agency.name %>

  <br />

  <strong>Email:</strong>
  <%= @agency.account.email %>
</p>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <%= render 'alerts/form' %>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <% @alerts.each do |alert| %>
      <%= render alert %>
    <% end %>
  </div>
</div>
