<div class="col-sm-offset-3">
  <%= form_for(@post,  multipart: true) do |f| %>
    <div class="input-group">
    <hr >
      <div class="field">
          <%= f.text_area :body, id: 'post-form-body', :class=>"myPost col-xs-12", placeholder: 'Type post here...' %>
          <%= f.file_field :image_url, class: 'post-form-img'%> 
      </div>
     <hr>
      <div>
        <% categories.each do |category| %>
          <%= f.radio_button :category_id, category.id %>
          <%= f.label :category_id, category.title %>          
        <% end %>
      </div>
      <div>
        <%= f.submit class: 'btn linky' %>
      </div>
      
    </div>
  <% end %>
</div> 
<script>
  $(":file").filestyle({
    input: false
  })
  $("#new_post").find("span label").text("").addClass("glyphicon glyphicon-camera").removeClass("btn btn-default");
</script>

<script>
  $(document).ready(function() {
    $('#new_post').bind('ajax:complete', function() {
      $('#new_post')[0].reset(); 
    });
  });
</script>
