<div>
  <%= form_for(@post) do |f| %>
    <div class="input-group">
      <div class="field">
        <hr>
          <%= f.text_area :body,:class=>"myPost",placeholder: 'Type comment here'%>
        <hr>
      </div>
      <div>
        <% categories.each do |category| %>
          <%= f.radio_button :category_id, category.id %>
          <%= f.label :category_id, category.title %>
        <% end %>
      </div>
      <div>
        <%= f.submit class: 'btn linky' %>
      </div> 
    </div>
  <% end %>
</div>

