<div>
  <%= form_tag(post_create_url) do %>
    <div class="input-group">
      <div>
        <%= text_area_tag :body, params[:body], placeholder: 'Type post here', :class=>"postArea" %> 
      </div>
      <div>
        <% categories.each do |category| %>
          <%= radio_button_tag :category_id, category.id %>
          <%= label_tag :category_id, category.title %>
        <% end %>
      </div>
      <div>
        <%= submit_tag "Post", class: 'btn linky' %>
      </div> 
    </div>
  <% end %>
</div>

