<div class="profile">
  <div class="row">
    <%= image_tag(@current_member.image_url, :width => 120) if @current_member.image_url.present? %>
  </div>
  <br>
  <div class="row">
    <p>Name: <%= @current_member.name%></p>
    <p>Address: <%= @current_member.address%></p>
    <p>Type: <%= @current_member.role%></p>
    <p>Points: <%= @current_member.points%></p>
  </div>
</div>
