<%= render partial:'navbar'%>
<p id="notice"><%= notice %></p>
<br><br><br><br>

<div class="container">
  <ul class="nav nav-tabs">
    <li ><a href="#a" data-toggle="tab">Lead</a></li>

    <% if @current_member.hoa? %>
      <li class="active"><a href="#b" data-toggle="tab">Broadcast</a></li>
    <% end %>
  </ul>   
  <div class="tab-content">
    <div class="tab-pane active" id="a">
  <table class="table table-bordered">
    <caption>Perspective Users</caption>

    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Neighborhood</th>
      <th>Address</th>
    </tr>
    <% @temp_users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.hood.name %></td>
        <td><%= user.hood.address %></td>

        <td><%= button_to 'Accept', neighborhood_lead_accept_url(@current_member.neighborhood, user), method: :post %></td>
        <td><%= button_to 'Deny', neighborhood_lead_deny_url(@current_member.neighborhood, user), method: :post %></td>
      </tr>
    <% end %>
  </table>
    </div> 

    <div class="tab-pane active" id="b">
      <%= render 'broadcasts/form' %>

      <%= render partial: 'broadcasts/admin_list', locals: { broadcasts: @broadcasts } %>
    </div>
  </div>
</div>
