<%= render partial:'navbar'%>
<p id="notice"><%= notice %></p>
<br><br><br><br>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#a" data-toggle="tab">Users</a></li>
    <li><a href="#c" data-toggle="tab">Businesses</a></li>
    <li><a href="#d" data-toggle="tab">Agencies</a></li>
    <li><a href="#e" data-toggle="tab">Flags</a></li>
    <% if @current_member.hoa? %>
      <li><a href="#b" data-toggle="tab">Broadcast</a></li>
    <% end %>
    <li><a href="#c" data-toggle="tab">Activity</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="a">
      <%= render 'neighborhoods/prospective_users' %>
    </div>
    <div class="tab-pane" id="b">
      <%= render 'broadcasts/form' %>
      <%= render partial: 'broadcasts/admin_list', locals: { broadcasts: @broadcasts } %>
    </div>
    <div class="tab-pane" id="c">
      <%= render 'neighborhoods/prospective_businesses' %>
    </div>
    <div class="tab-pane" id="d">
      <%= render 'neighborhoods/prospective_agencies' %>
    </div>
    <div class="tab-pane" id="e">
      <h1><center>Flagged Content</center></h1>
      <hr class="hrPers">
      <h3>Posts</h3>
      <div id="flagged-posts">
        <%= render 'neighborhoods/flagged_posts' %> 
      </div>
      <h3>Comments</h3>
      <div id="flagged-comments">
        <%= render 'neighborhoods/flagged_comments' %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    (function ($) {
        $('#filter').keyup(function () {
            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();
        })
    }($));
});
</script>
