<%= render partial:'navbar'%>
<p id="notice"><%= notice %></p>
<br><br><br><br>
<div class="col-md-2">
</div>

<div class="col-md-5 col-md-offset-1 ">
  <%= render partial: 'create_post', locals: { categories: @categories } %>
  <%= render partial: 'post_list', locals: { categories: @categories } %>
</div>


<div class="right_bar">

    <div class="alert_div">
      <% @alerts.each do |alert| %>
        <%= render alert %>
      <% end %>
    </div>

    <br />
    <br />

    <div class="broadcast_div">
      <% @broadcasts.each do |bc| %>
        <%= render bc %>
      <% end %>
    </div>

    <br />
    <br />

    <div class="advertisement_div">
      <% @advertisements.each do |ad| %>
        <%= render ad %>
      <% end %>
    </div>

</div>
