<p id="notice"><%= notice %></p>

<div class="col-md-2 round_border">
  <div class="page-header">
    <h1><%= @neighborhood.name %></h1>
  </div>
</div>

<div class="col-md-5 col-md-offset-1 round_border">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>


<div class="round_border right_bar">

    <div class="alert_div">
      <% @alerts.each do |alert| %>
        <%= render alert %>
      <% end %>
    </div>

    <br />
    <br />

    <div class="broadcast_div">
      <% @broadcasts.each do |bc| %>
        <%= render bc %>
      <% end %>
    </div>

    <br />
    <br />

    <div class="advertisement_div">
      <% @advertisements.each do |ad| %>
        <%= render ad %>
      <% end %>
    </div>

</div>

