<%= render partial:'navbar'%>
<p id="notice"><%= notice %></p>
<br><br><br><br>
<div class="col-xs-5 col-sm-offset-3 ">
  <div id="post-form-container">
  <%= render partial: 'posts/form', locals: { categories: @categories } %>
  </div>
  <br>
  <div class="input-group"> <span class="input-group-addon"><i class='glyphicon glyphicon-search'></i></span>
   <input id="filter" type="text" class="form-control" placeholder="Type here...">
  </div>
  <div>
    <%= link_to 'All', @neighborhood, method: :get, class: 'btn btn-primary linky', remote: true %> 
    <% @categories.each do |category|%>
      <%= link_to category.title, neighborhood_category_url(@neighborhood, category.id), method: :get, class: 'btn btn-primary linky', remote: true %> 
    <% end %>
  </div>
  <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody id="posts" class="searchable">
        <%= render 'post_list' %>
      </tbody>
  </table>
</div>
<br>
<div class="right_bar">
  <div>
    <p class="alert-danger semiTitle "><i class="glyphicon glyphicon-bell"></i> Alerts<i id="closeAlert" class="glyphicon glyphicon-chevron-up pull-right closeAlert close"></i></p>
  </div>
  <div class="alert_div">
    <% @alerts.each do |alert| %>
      <%= render alert %>
    <% end %>
  </div>
  <div class="broadcast_div_bar">
    <div>
      <p class="alert-warning semiTitle "><i class="glyphicon glyphicon-bullhorn"></i> Broadcast<i id="closeBroad" class="glyphicon glyphicon-chevron-down pull-right closeBroad close"></i></p>
    </div>
    <div class="broadcast_div">
      <% @broadcasts.each do |bc| %>
        <%= render bc %>
      <% end %>
    </div>
  </div>
  <div  class="advertisement_div_bar">
    <div>
      <p class="alert-info semiTitle"><i class="glyphicon glyphicon-tag"></i> Advertisement<i id="closeAd" class="glyphicon glyphicon-chevron-down pull-right closeAd close"></i></p>
    </div>
    <div class="advertisement_div">
      <% @advertisements.each do |ad| %>
        <%= render ad %>
      <% end %>
    </div>
  </div>
</div>
<div class="left_bar">
    <p class="alert-success semiTitle "><i class="glyphicon glyphicon-user"></i> Profile<i id="closeProfile" class="glyphicon glyphicon-chevron-up pull-right closeprofile close"></i></p>
  <div id="profile" class="profile_div">
   <%= render partial: 'neighborhoods/profile' %>
  </div>
  <div class="chat_div_bar">
      <p class="myPrimary semiTitle "><i class="glyphicon glyphicon-comment"></i> Chat<i id="closeChat" class="glyphicon glyphicon-chevron-down pull-right closeChat close"></i></p>
    <div class="chat_div">
      <br>
      <table class="table table-striped table-hover">
        <thead >
          <tr>
            <th>Neighbors</th>
          </tr>
        </thead>

        <tbody class="cm">
           <% @current_member.neighborhood.users.each do |user| %>
            <tr>
              <% unless @current_member.id == user.id %>
                <td class="cm"><%= user.name %> <%= link_to '', direct_message_url(user.id),:class=>" linkTo glyphicon glyphicon-circle-arrow-right pull-right" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      
    </div>
  </div>
</div>


<script>
  $('.broadcast_div_').hide();
  $('.advertisement_div').hide();
  var alertFlag = true;
  if(alertFlag){
    $('#closeAlert').click(function(){
      if(alertFlag){
        $('.alert_div').hide();
        $('#closeAlert').removeClass('glyphicon glyphicon-chevron-up pull-right closeAlert').addClass('glyphicon glyphicon-chevron-down pull-right closeAlert');
        $('#closeAd').removeClass('glyphicon glyphicon-chevron-up pull-right closeAd').addClass('glyphicon glyphicon-chevron-down pull-right closeAd');
        $('#closeBroad').removeClass('glyphicon glyphicon-chevron-up pull-right closeBroad').addClass('glyphicon glyphicon-chevron-down pull-right closeBroad');
        alertFlag = false;
        return;
      }else{
        $('.alert_div').show();
        $('#closeAlert').removeClass('glyphicon glyphicon-chevron-down pull-right closeAlert').addClass('glyphicon glyphicon-chevron-up pull-right closeAlert');
        alertFlag = true;
         $('.broadcast_div').hide();
        $('.advertisement_div').hide();
        return;
      }

    });
    $('#closeBroad').click(function(){
      if(alertFlag){
        $('#closeBroad').removeClass('glyphicon glyphicon-chevron-down pull-right closeBroad').addClass('glyphicon glyphicon-chevron-up pull-right closeBroad');
        $('#closeAlert').removeClass('glyphicon glyphicon-chevron-up pull-right closeAlert').addClass('glyphicon glyphicon-chevron-down pull-right closeAlert');
        $('#closeAd').removeClass('glyphicon glyphicon-chevron-up pull-right closeAd').addClass('glyphicon glyphicon-chevron-down pull-right closeAd');
        alertFlag = false;
        $('.alert_div').hide();
        $('.advertisement_div').hide();
        $('.broadcast_div').show();
        return;
      }else{
        $('.broadcast_div').hide();
        $('#closeBroad').removeClass('glyphicon glyphicon-chevron-up pull-right closeBroad').addClass('glyphicon glyphicon-chevron-down pull-right closeBroad');
        $('#closeAd').removeClass('glyphicon glyphicon-chevron-up pull-right closeAd').addClass('glyphicon glyphicon-chevron-down pull-right closeAd');
        alertFlag = true;
        return;
      }

    });
    $('#closeAd').click(function(){
      if(alertFlag){
        $('.advertisement_div').hide();
        $('#closeAd').removeClass('glyphicon glyphicon-chevron-up pull-right closeAd').addClass('glyphicon glyphicon-chevron-down pull-right closeAd');
        alertFlag = false;
        return;
      }else{
        $('.advertisement_div').show();
        $('.alert_div').hide();
        $('.broadcast_div').hide();
        $('#closeAlert').removeClass('glyphicon glyphicon-chevron-up pull-right closeAlert').addClass('glyphicon glyphicon-chevron-down pull-right closeAlert');
        $('#closeBroad').removeClass('glyphicon glyphicon-chevron-up pull-right closeBroad').addClass('glyphicon glyphicon-chevron-down pull-right closeBroad');
        $('#closeAd').removeClass('glyphicon glyphicon-chevron-down pull-right closeAd').addClass('glyphicon glyphicon-chevron-up pull-right closeAd');
        alertFlag = true;
        return;
      }

    });
    $('#closeProfile').click(function(){
      if(alertFlag){
        $('.profile_div').hide();
        $('#closeProfile').removeClass('glyphicon glyphicon-chevron-up pull-right closeAd').addClass('glyphicon glyphicon-chevron-down pull-right closeProfile');
        alertFlag = false;
        return;
      }else{
        $('.profile_div').show();
        $('.chat_div').hide();
        $('#closeChat').removeClass('glyphicon glyphicon-chevron-up pull-right closeAlert').addClass('glyphicon glyphicon-chevron-down pull-right closeChat');
        $('#closeProfile').removeClass('glyphicon glyphicon-chevron-down pull-right closeProfile').addClass('glyphicon glyphicon-chevron-up pull-right closeProfile');
        alertFlag = true;
        return;
      }
    });
    $('#closeChat').click(function(){
      if(alertFlag){
        $('.chat_div').hide();
        $('#closeChat').removeClass('glyphicon glyphicon-chevron-up pull-right closeAd').addClass('glyphicon glyphicon-chevron-down pull-right closeChat');
        alertFlag = false;
        return;
      }else{
        $('.chat_div').show();
        $('.profile_div').hide();
        $('#closeProfile').removeClass('glyphicon glyphicon-chevron-up pull-right closeAlert').addClass('glyphicon glyphicon-chevron-down pull-right closeProfile');
        $('#closeChat').removeClass('glyphicon glyphicon-chevron-down pull-right closeChat').addClass('glyphicon glyphicon-chevron-up pull-right closeChat');
        alertFlag = true;
        return;
      }
    });
    
  }
</script>
<script>
  $(document).ready(function () {

    (function ($) {

        $('#filter').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        })

    }($));



});
</script>
