<%= render partial:'navbar'%>
<p id="notice"><%= notice %></p>
<br><br><br><br>
<div class="col-md-2">
</div>

<div class="col-md-5 col-md-offset-1 ">
  <%= render partial: 'posts/form', locals: { categories: @categories } %>
  <br>
  <div class="input-group"> <span class="input-group-addon"><i class='glyphicon glyphicon-search'></i></span>
   <input id="filter" type="text" class="form-control" placeholder="Type here...">
  </div>
  <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody class="searchable">
        <% @posts.each do |post| %>
          <tr>
            <td><%= render post %></td>          
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
<br>
 
  

<div class="right_bar">
  <div>
    <p class="alert-danger semiTitle "><i class="glyphicon glyphicon-bell"></i> Alerts<i id="closeAlert" class="glyphicon glyphicon-chevron-up pull-right closeAlert close"></i></p>
  </div>  
  <div class="alert_div">
    <% @alerts.each do |alert| %>
      <%= render alert %>
    <% end %>
  </div>
  <div>
    <p class="alert-warning semiTitle"><i class="glyphicon glyphicon-bullhorn"></i> Broadcast<i id="closeBroad" class="glyphicon glyphicon-chevron-up pull-right closeBroad close"></i></p>
  </div>  
  <div class="broadcast_div">
    <% @broadcasts.each do |bc| %>
      <%= render bc %>
    <% end %>
  </div>
  <div>
    <p class="alert-info semiTitle"><i class="glyphicon glyphicon-tag"></i> Advertisement<i id="closeAd" class="glyphicon glyphicon-chevron-up pull-right closeAd close"></i></p>
  </div>  
  <div class="advertisement_div">
    <% @advertisements.each do |ad| %>
      <%= render ad %>
    <% end %>
  </div>

</div>

<script>
var alertFlag = true;
if(alertFlag){
  $('#closeAlert').click(function(){
    if(alertFlag){
      $('.alert_div').hide();
      $('#closeAlert').removeClass('glyphicon glyphicon-chevron-up pull-right closeAlert').addClass('glyphicon glyphicon-chevron-down pull-right closeAlert');
      alertFlag = false;
      return;
    }else{
      $('.alert_div').show();
      $('#closeAlert').removeClass('glyphicon glyphicon-chevron-down pull-right closeAlert').addClass('glyphicon glyphicon-chevron-up pull-right closeAlert');
      alertFlag = true;
      return;
    }

  });
  $('#closeBroad').click(function(){
    if(alertFlag){
      $('.broadcast_div').hide();
      $('#closeBroad').removeClass('glyphicon glyphicon-chevron-up pull-right closeBroad').addClass('glyphicon glyphicon-chevron-down pull-right closeBroad');
      alertFlag = false;
      return;
    }else{
      $('.broadcast_div').show();
      $('#closeBroad').removeClass('glyphicon glyphicon-chevron-down pull-right closeBroad').addClass('glyphicon glyphicon-chevron-up pull-right closeBroad');
      alertFlag = true;
      return;
    }

  });
  $('#closeAd').click(function(){
    if(alertFlag){
      $('.advertisement_div').hide();
      $('#closeAd').removeClass('glyphicon glyphicon-chevron-up pull-right closeAd').addClass('glyphicon glyphicon-chevron-down pull-right closeAd');
      alertFlag = false;
      return;
    }else{
      $('.advertisement_div').show();
      $('#closeAd').removeClass('glyphicon glyphicon-chevron-down pull-right closeAd').addClass('glyphicon glyphicon-chevron-up pull-right closeAd');
      alertFlag = true;
      return;
    }

  });
}

</script>
<script>
  $(document).ready(function () {

    (function ($) {

        $('#filter').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));

});
</script>
