  <%= form_for(@current_member) do %>
    <div class="row">

      <div class="col-md-2 col-lg-offset-2">
        <center>
          <%= button_tag(type: 'submit', class: 'btn btn-linky') do %>
            <span class="glyphicon glyphicon-floppy-save"></span>
          <% end %>
        </center>
      </div>

      <div class="col-md-offset-1 col-lg-4">
        <%= label_tag 'Current' %>
        <%= password_field_tag :old_pass, nil, placeholder: '********', class: 'myPost' %>
        <hr>
        <%= label_tag 'New' %>
        <%= password_field_tag :new_pass, nil, placeholder: '********', class: 'myPost' %>
      </div>
    
      <%= hidden_field_tag 'updateParam', 'password' %>
    </div>
  <% end %>
