  <%= form_for(@current_member) do %>

    <hr>
    <div class="row">

      <div class="col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2">
        <center>
          <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
            <span class="glyphicon glyphicon-floppy-save"></span>
          <% end %>
        </center>
      </div>

      <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-2">
        <%= password_field_tag :old_pass, nil, placeholder: 'Current password', class: 'myPost' %>
        <%= password_field_tag :new_pass, nil, placeholder: 'New password', class: 'myPost' %>
      </div>
    
      <%= hidden_field_tag 'updateParam', 'password' %>
    </div>

    <hr>

  <% end %>
